<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Форма отчета | Kluch Metrics</title>

	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Форма отчёта</h1>
			</div>
		</div>
		<div class="form-box">
			<div class="form-group">
				<input type="text" placeholder="Ваш ID в CRM">
				
			</div>
		</div>
	</div>
</body>
</html>