/* Remove outline on the forms and links */
body {
	color: #fefefe;
	background-color: #04293A
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.dark-background {
	background-color: #041C32;
}
main {
	background-color: #04293A;
}
a {
	color: #5e8799;
}
table {
	color: #fefefe !important;
	border-top: none;
}
.table thead th {
	border-bottom: 2px solid #1f354b;
	border-top: none;
}
.table tbody td {
	border-top: 1px solid #1f354a;
}
.data-box {
	background: #064764;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px 0px #00344b;
}
.data-box .date {
	margin-bottom: 0;
}
.data-box .simple-info .main-data {
	font-size: 35px;
    font-weight: bold;
    color: #517b8d;
}
.data-box .growth .main-data {
	color: #a3c2cf;
}
.data-box .main-data span {
	font-size: 25px;
	color: #309771;
}
.funnel {
	width: 100%;
}
.date-picker p {
	font-size: 13px;
}
.date-picker input {
	background: #064764;
	border: none;
    padding: 5px;
    color: #fefefe;
    border-radius: 5px;
}
.date-picker button {
	border: none;
	padding: 5px;
	border-radius: 5px;
	background: #ff9d7c;
    color: #721414;
}

