/* Remove outline on the forms and links */
body {
	color: #fefefe;
	background-color: #04293A
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.dark-background {
	background-color: #041C32;
}
main {
	background-color: #04293A;
}
a {
	color: #5e8799;
}
